.App {
  font-family: 'Roboto'
}


/* NAVBAR */
.navbar-logo {
  font-family: 'Century Gothic';
  font-size: 2em;
  font-weight: bold;
}

.navbar-link {
  font-family: 'Roboto';
  font-size:  1em;
}

/* HOME PAGE */


